node_modules
vendor
.git
.env
.env.local
.env.testing
.env.dusk.local
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
docs
planing
referensi
*.pdf
*.md
.vscode
.idea
docker
